:root {
  --type-body: Open Sans, Helvetica, Arial, sans-serif;
  --type-quote: Vollkorn;
  --quote-image-width: 140px;
  --border-rad: 7px;
  --accent-color: hsl(190, 85%, 65%);
  --quote-bg: hsl(209, 35%, 13%);
  --border-color: hsl(210, 42%, 19%);
}

.toolbar li {
  min-width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  transition: all 0.1s;
  padding: 0 0.1rem;
}

.toolbar li:hover {
  background-color: rgb(59, 71, 75);
}
.toolbar2 li:hover {
  background-color: rgb(59, 71, 75);
  cursor: pointer;
}

.toolbar2 li {
  transition: all 0.1s;
  border-radius: 10%;
}

.underline {
  text-decoration: underline 1.3px;
  text-underline-offset: 5px;
  text-decoration-color: inherit;
}

ul {
  list-style-type: disc;
  padding: 0 1rem;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.5;
}

ol {
  list-style-type: decimal;
  padding: 0 1rem;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.5;
}

s {
  text-decoration: line-through 1.3px;
}

.links {
  color: rgb(81, 178, 247);
  cursor: pointer;
}
.links:hover {
  text-decoration: underline 1.3px;
  text-underline-offset: 5px;
}

.toolbar-btns[data-active="true"] {
  background-color: rgb(75, 85, 99);
}

.tiptap {
  display: flex;
  flex-direction: column;
  gap: 100px;
  font-size: 20px;
  word-spacing: 0.1em;
  line-height: 1.65;
}


@media (min-width: 768px) {
  blockquote {
    margin: 40px 60px;
  }
}


blockquote {
  position: relative;
  margin: 30px auto;
  padding: 1.2em 1.8em;
  font: italic 1.1rem var(--type-quote);
  background: var(--quote-bg) no-repeat left / var(--quote-image-width);
  border-radius: var(--border-rad);
  border: 1px solid var(--border-color);
  box-shadow: 1px 1px 3px hsl(0 0% 0% / 15%);
  text-indent: 1.2em;
  max-width: 32rem;
}

blockquote::after {
  content: "❝";
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translate(-50%, -50%);
  width: 1.1em;
  height: 1.1em;
  background: #1f2b3a;
  border-radius: 50%;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
  color: var(--accent-color);
  font-size: 32px;
  text-indent: 0;
}

cite {
  display: block;
  margin-top: 2rem;
  text-align: center;
  font: bold 0.8rem var(--type-body);
  text-transform: capitalize;
  color: white;
}


@media (min-width: 768px) {
  cite {
    margin-left: calc(1rem - var(--quote-image-width));
  }
}

.tiptap h1{
  font-size: 56px;
}

.tiptap h2 {
  font-size: var(--h2-size);
  line-height: var(--h2-height);
}
.tiptap h3 {
  font-size: var(--h3-size);
  line-height: var(--h3-height);
}
.tiptap h4 {
  font-size: var(--h4-size);
  line-height: var(--h4-height);
}

.tiptap section{
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.tiptap p {
  display: block;
}



strong{
  font-weight: 900;
  font-size: 20px;
}