:root{
    --footer-background: #f9f9f9;
  --footer-color: #333;
  --footer-h-color: #007bff;
  --email-color: #007bff;
  --email-hover-color: #0056b3;

  --link-color: inherit;
  --facebook: #2b6eff;
  --github: #333;
  --copy: rgb(36, 36, 28);
}

footer#contact-me {
    background-color: var(--footer-background);
    color: var(--footer-color);
    text-align: center;
    padding: 2rem 0;
    font-family: "Arial", sans-serif;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    margin: 3rem 0 1rem;
    width: 100%;
    border-top: var(--footerborder);
  }
  
  #footer-heading {
    font-size: var(--fheading-size);
    color: var(--footer-h-color);
  }
  
  footer#contact-me p {
    margin: 0 2rem 2rem;
    font-size: 1rem;
    font-style: italic;
  }
  
  ul#social-media {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: var(--max-width);
    margin: 0 auto;
    gap: 0.4rem 0;
  }
  
  ul#social-media li {
    transition: transform 0.2s ease;
    margin: 0.4rem 1.6rem;
  }
  
  ul#social-media i {
    margin-right: 4px;
  }
  .fa-facebook {
    color: var(--facebook);
  }
  .fa-github {
    color: var(--github);
  }
  .fa-linkedin {
    color: #0077b5;
  }
  .fa-envelope {
    color: #ad3b31;
  }
  .fa-upwork {
    color: #408e42;
  }
  
  ul#social-media a {
    color: var(--link-color);
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #tribute {
    margin-top: 3rem;
    font-size: 1rem;
  }
  
  #tribute a {
    color: #007bff;
    text-decoration: none;
  }
  
  #tribute a:hover {
    text-decoration: underline;
  }
  
  #footer-contact-form {
    margin-top: 3rem;
  }
  
  #email {
    font-size: 1.4rem;
    margin: 2rem 0;
  }
  
  #email a {
    display: block;
    transition: transform 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    border-radius: 4px;
    color: var(--email-color);
    text-decoration: none;
    width: max-content;
    margin: 0 auto;
    padding: 0 0.4rem;
  }
  
  #copy {
    background-color: unset;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--copy);
  }
  